@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Poiret+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --lg-font: 'Crimson Text', serif;
    --sm-font: 'Poiret One', sans-serif;
    --gray: #9c9e98;
    --white: #fafbfa;
    --dark: #2c2c2c;
    --brown: #8e7d6e;

}

body {
    font-family: var(--sm-font);



}

.bg-primary {
    background-color: var(--gray);
}

h1 {
    font-family: var(--lg-font);

}

p {
    color: black;
    font-size: 1.2rem;
}

.menu {
    background-color: #747b86;
    color: white;
    width: 400px;
    height: 100vh;
    position: fixed;
    right: -400px;
    transition: right 1.5s;


}

.menu--is-open {
    right: 0px;
}

.menu--is-close {
    right: 0px;
}

footer {
    background-color: #b3b3b3;
    height: 200px;
}

.fit-content {
    font-size: 50px;
}


@media (max-width: 576px) {
    .menu {
        width: 70%;
    }
    .fit-content {
        font-size: 14px;
        height: 200px;
    }
    h4 {
        font-size: 10px; 
    }
    p {
        font-size: 10px;
    }

    .fit__content--products{
        gap: 10px;
    }
    
    h3 {
        font-size: 10px;
    }

    .btn-responsive {
        display: flex;
        justify-content: center;
    }


}

